@keyframes slideWords {

    0% {
        transform: translateY(0);
    }

    16% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-80px);
    }

    36% {
        transform: translateY(-80px);
    }

    40% {
        transform: translateY(-160px);
    }

    56% {
        transform: translateY(-160px);
    }

    60% {
        transform: translateY(-240px);
    }

    76% {
        transform: translateY(-240px);
    }

    80% {
        transform: translateY(-320px);
    }

    96% {
        transform: translateY(-320px);
    }

    100% {
        transform: translateY(-400px);
    }

}

@keyframes loadingBar {

    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}